.contact_form{
    background-color: #1D232C;
    margin-left: 12%;
    margin-right: 12%;
    padding: 50px;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    h2{
        margin-bottom: 20px;
    }
    
    input{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: 80px;
    }
    .Message{
        height: 120px;
    }
    button{
        background-color: #0156B3;
        color: white;
        padding: 12px;
        width: 100px;
        border: none;
        border-radius: 10px;
    }
}