*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.popup{
    background-color: #1D232C;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    button{
        background-color: #1D232C;
        color:white;
        border: none;
    }
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 11;
    .sec_navbar{
        display: flex;
        gap: 30px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        text-decoration:underline ;
    }
}

.banner{
    position: relative;
    max-width: 100%;
}

.ad_sec{
    margin-left: 15px;
    margin-right: 15px;
}
.ad_sec img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    display: block;
    
}

.ad_sec1{
    position:absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 10;
    text-align: center;
    h1{
        font-size: 60px;
        color: white;
    }
    button{
        background-color: #EFEFEF;
        color: black;
        padding: 13px;
        border-radius: 30px;
        border: none;
    }
}
.brand{
    margin-left: 15px;
    margin-right: 15px;
}
.brand_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 28px;
    }
}

.logo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 60px;
}

.section_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    h2{
        font-size: 35px;
    }
    p{
        font-size: 25px;
    }
}

.section_3{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.sec_3{
    width: 25%;
    background-color: #F3F4F7;
    padding: 15px;
    border-radius: 10px;
    h2,p{
    font-size: 16px;
    margin-top: 10px;
    }
    
    
}
.section4{
    margin-left: 15px;
    margin-right: 15px;
}
.section_4{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    
}

.sec_4{
    position: relative;
    img{
        width: 270px;
    }
    button{
        position: absolute;
        top: 40%;
        left: 25%;
        background-color: #EFEFEF;
        color: black;
        padding: 13px;
        border-radius: 30px;
        border: none;
    }
}

.section_5{
    margin-left: 15px;
    margin-right: 15px;
}
.section5{
    display: flex;
    justify-content: space-between;
}
.sec_5{
    position: relative;
    img{
        width: 270px;
    }
    .p_sec5{
        position: absolute;
        top: 0;
        width: 70px;
        background-color: red;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 27px;
        border-radius: 10px;
    }
   
    .heart_black{
        position: absolute;
        right: 7%;
        bottom: 14%;
    }

    .heart_red{
        position: absolute;
        right: 7%;
        bottom: 14%;
        display: none;
    }
}

.section_6{
    background-color: #1D232C;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    display: flex;
    align-items: center;
    gap: 100px;
     button{
        margin-top: 7px;
        background-color: #EFEFEF;
        color: black;
        padding: 13px;
        border-radius: 30px;
    }
    h1{
        font-size: 45px;
        margin-bottom: 5px;
    }

}

.section_7{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    text-align: center;
    p{
        font-size: 24px;
    }
    input{
        margin-top: 12px;
        border: 3px solid #1D232C;
        height: 40px;
        width: 80%;
    }
    button{
        background-color: #1D232C;
        color: white;
        padding: 10px;
        border-radius: 10px;
        border: none;
        margin-top: 12px;
        margin-bottom: 15px;
        font-size: 24px;
    }
}

footer{
    padding: 30px;
    color:#E2E1E1;
    background-color: #1D232C;
    p{
        font-size: 30px;
        margin-top: 15px;
    }
    h1{
        font-size: 45px;
    }
    .ii{
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        gap: 50px;
    }
}

.collection_sec1{
    display: flex;
    justify-content: start;
}

.filter_sec{
    width: 30%;
    border-right: 3px solid black;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 15px;
    p{
        margin-top: 10px;
        font-size: 30px;
    }
}

.products_sec{
    width: 100%;
    padding: 20px;
    input{
        width: 100%;
        height: 45px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        
    }
}
.dress_collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 20px;
}
.dress{
    img{
        width: 300px;
        margin-bottom: 5px;
    }
    p{
        margin-top: 5px;
    }
}


@media screen and (max-width: 1200px){
    body{
        font-size: 16px
    }
    .banner {
        img{
            height: 350px
           }
        h1{
            font-size: 55px
        }
    }
    .logo{
        img{
            width: 50px;
        }
        p{
            font-size: 22px
        }
    }
    .section_2{
        gap: 50px;
        h2{
            font-size: 30px
        }
        p{
            font-size: 18px
        }
        br{
            display: none
        }
    }

    .sec_4{
        img{
            width: 250px;
        }
        button{
            width: 100px;
            font-size: 12px
        }
    }

    .sec_5{
        .p_sec5{
            width: 40px;
            font-size: 14px;
        }
        img{
            width: 200px
        }
        gap: 10px
    }

    .section_6{
        h1{
            font-size: 30px
        }
        img{
            width: 450px
        }
        gap: 20px
    }
    .dress{
        img{
            width: 250px
        }
    }
    .filter_sec{
        
        p{
            font-size: 20px
        }
    }
};




@media screen and (min-width: 600px){
    body{
        font-size: 12px
    }
    .sec_navbar{
        display: none;
    }
    .banner {
        img{
            height: 200px
           }
        h1{
            font-size: 40px
        }
    }
    .logo{
        img{
            width: 25px;
        }
        p{
            font-size: 22px
        }
    }
    .section_2{
        gap: 50px;
        h2{
            font-size: 25px
        }
        p{
            font-size: 18px
        }
        br{
            display: none
        }
    }

    .sec_4{
        img{
            width: 130px;
        }
        button{
            width: 80px;
            font-size: 10px
        }
    }

    .sec_5{
        .p_sec5{
            width: 40px;
            font-size: 14px;
        }
        img{
            width: 150px
        }
        gap: 10px
    }

    .section_6{
        h1{
            font-size: 30px
        }
        img{
            width: 400px
        }
        gap: 20px
    }

};